.card {
    box-shadow: 0 0 8px #00000021;
    background: #f8f8f8;
    border-top: 2px solid #079a7d;
    padding: 19px;
    font-size: 1.25rem;
    text-align: center;
    width: 30%;
    height: 200px;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card p {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    text-decoration: underline;
}

.card span {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #f8f8f880;
}

#contenedor-de-divs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.contenedor-programa-calcular {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.contenedor-programa-calcular .contenedor-de-comparaciones {
    display: flex;
}

.contenedor-de-comparaciones .contenedor-cantidad-a-convertir {
    width: 50%;
    margin: 3rem;
}

.contenedor-cantidad-a-convertir .cantidad-a-convertir {
    display: flex;
}

.cantidad-a-convertir input {
    width: 75%;
}

.cantidad-a-convertir select {
    width: 25%;
}

.contenedor-de-comparaciones .contenedor-cantidad-convertida {
    width: 50%;
    margin: 3rem;
}

.contenedor-cantidad-convertida .cantidad-convertida {
    display: flex;
}

.cantidad-convertida input {
    width: 75%;
}

.cantidad-convertida select {
    width: 25%;
}

.contenedor-programa-comparar {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.eleccion-operacion {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.eleccion-operacion .contenedor-botones {
    display: flex;
}

#calcular {
    margin-right: 3rem;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#calcular:hover {
    transform: scale(1.2);
}

#comparar {
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#comparar:hover {
    transform: scale(1.2);
}